$sass-mq-already-included: false !default;

@if $sass-mq-already-included {
  $mq-show-breakpoints: ();
}

@import '../vendor/sass-mq';

$sass-mq-already-included: true;

@mixin govuk-media-query($args...) {
  @include mq($args...) {
    @content;
  };
}
