.fieldset {
  @include clearfix;

  border: 0;
  margin: 0;
  padding: 0;
}

.fieldset__legend {
  @include font(19);

  box-sizing: border-box;
  color: $color_black;
  display: table;
  margin-bottom: spacing(2);
  margin-top: 0;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

.fieldset__legend--xl {
  @include font($size: 48, $weight: bold);
  margin-bottom: spacing(3);
}

.fieldset__legend--l {
  @include font($size: 32, $weight: bold);
  margin-bottom: spacing(3);
}

.fieldset__legend--m {
  @include font($size: 24, $weight: bold);
  margin-bottom: spacing(3);
}

.fieldset__legend--s {
  @include font($size: 19, $weight: bold);
  margin-bottom: spacing(3);
}

.fieldset__heading {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
