.image {
  background-color: $color_white;
  border-bottom: 1px solid $color_grey-4;

  @include responsive-margin(6, 'bottom');
  @include responsive-margin(6, 'top');

  margin-left: 0;
  margin-right: 0;

  @include mq($from: desktop) {
    width: 66.66667%;
  }

  @include mq($media-type: print) {
    width: 50%;
  }

  & + .image {
    @include responsive-margin(0, 'top');
  }

}

.image__img {
  display: block;
  width: 100%;
}

.image__caption {
  @include typography-responsive(16);

  padding: spacing(3);
}
