$radios-size: spacing(6);
$radios-label-padding-left-right: 12px;
$radios-focus-width: $focus-width + 1px;

.radios__item {
  @include font(19);

  clear: left;
  display: block;
  margin-bottom: spacing(2);
  min-height: $radios-size;
  padding: 0 0 0 $radios-size;
  position: relative;
}

.radios__item:last-child,
.radios__item:last-of-type {
  margin-bottom: 0;
}

.radios__input {
  cursor: pointer;
  height: $radios-size;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: $radios-size;
  z-index: 1;
}

.radios__label {
  -ms-touch-action: manipulation;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px $radios-label-padding-left-right spacing(1);
  touch-action: manipulation;
}
 
.radios__hint {
  display: block;
  padding-left: $radios-label-padding-left-right;
  padding-right: $radios-label-padding-left-right;
}

.radios__input + .radios__label::before {
  background: $form-element-background-color;
  border: $border-width-form-element solid $form-border-color;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: $radios-size;
  left: 0;
  position: absolute;
  top: 0;
  width: $radios-size;
}

.radios__input + .radios__label::after {
  background: $form-border-color;
  border: 10px solid $text-color;
  border-radius: 50%;
  content: '';
  height: 0;
  left: 10px;
  opacity: 0;
  position: absolute;
  top: 10px;
  width: 0;
}

.radios__input:focus + .radios__label::before {
  @include focused-radio();
}

.radios__input:checked + .radios__label::after {
  opacity: 1;
}

.radios__input:disabled,
.radios__input:disabled + .radios__label {
  cursor: default;
}

.radios__input:disabled + .radios__label {
  opacity: .5;
}

.radios--inline {
  @include mq ($from: tablet) {
    @include clearfix;

    .radios__item {
      clear: none;
      float: left;
      margin-right: spacing(4);
    }
  }

  &.radios--conditional {
    .radios__item {
      float: none;
      margin-right: 0;
    }
  }
}
 
.radios__divider {
  $divider-size: $radios-size !default;
  @include font(19);

  color: $text-color;
  margin-bottom: spacing(2);
  text-align: center;
  width: $divider-size;
}

$conditional-border-width: $border-width-mobile;
$conditional-border-padding: ($radios-size / 2) - ($conditional-border-width / 2);
$conditional-margin-left: $conditional-border-padding;
$conditional-padding-left: $conditional-border-padding + $radios-label-padding-left-right;

.radios__conditional {
  @include responsive-margin(4, 'bottom');
  border-left: $conditional-border-width solid $form-border-color;
  margin-left: $conditional-margin-left;
  padding-left: $conditional-padding-left;

  & > :last-child {
    margin-bottom: 0;
  }
}

.js-enabled .radios__conditional--hidden {
  display: none;
}
