
.summary-list {
  @include font($size: 16);

  @include mq($from: tablet) {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  margin: 0;
  @include responsive-margin(6, 'bottom');
}

.summary-list__row {
  @include mq($until: tablet) {
    border-bottom: 1px solid $border-color;
    margin-bottom: spacing(3);
  }
  @include mq($from: tablet) {
    display: table-row;
  }
}

.summary-list__key,
.summary-list__value,
.summary-list__actions {
  margin: 0;
  vertical-align: top;

  @include mq($from: tablet) {
    border-bottom: 1px solid $border-color;
    display: table-cell;
    padding-bottom: spacing(2);
    padding-right: spacing(4);
    padding-top: spacing(2);
  }
}

.summary-list__actions {
  margin-bottom: spacing(3);

  @include mq($from: tablet) {
    padding-right: 0;
    text-align: right;
    width: 20%;
  }
}

.summary-list__key,
.summary-list__value {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.summary-list__key {
  @include typography-weight-bold;

  margin-bottom: spacing(1);

  @include mq($from: tablet) {
    width: 30%;
  }
}

.summary-list__value {
  @include mq($until: tablet) {
    margin-bottom: spacing(3);
  }
  @include mq($from: tablet) {
    width: 50%;
  }
}

.summary-list__value > p {
  margin-bottom: spacing(2);
}

.summary-list__value > :last-child {
  margin-bottom: 0;
}

.summary-list__actions-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.summary-list__actions-list-item {
  display: inline;
  margin-right: spacing(2);
  padding-right: spacing(2);
}

.summary-list__actions-list-item:not(:last-child) {
  border-right: 1px solid $border-color;
}

.summary-list__actions-list-item:last-child {
  border: 0;
  margin-right: 0;
  padding-right: 0;
}

.summary-list--no-border {
  .summary-list__key,
  .summary-list__value,
  .summary-list__actions,
  .summary-list__row {
    border: 0;
  }
}
